Repository vossjona/unbounddb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format, mypy, uv-lock

lint:
  name: Run ruff for code style checks
  entry: uv run ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit
  require_serial: true

format:
  name: Run ruff for automatic code formatting
  entry: uv run ruff format
  args:
  - --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: Run mypy for typing checks
  entry: uv run mypy
  language: system
  require_serial: true
  stages:
  - pre-commit

uv-lock:
  name: uv-lock
  entry: uv lock
  language: system
  stages:
  - pre-commit
  require_serial: true
  pass_filenames: false

chore: remove unrelated plan doc accidentally committed with 3dda686
  docs/plan-cookie-profiles.md
Due: none

fix: allow cross-thread SQLite access for Streamlit Cloud reruns
  unbounddb/app/db.py
Due: lint, format, mypy

fix: filter ranker move recommendations by level cap
  tests/unittests/test_pokemon_ranker.py
  unbounddb/app/main.py
  unbounddb/app/tools/pokemon_ranker.py
Due: lint, format, mypy

refactor: remove stats popups from Pokemon Locations tab
  unbounddb/app/main.py
Due: lint, format, mypy

feat: add Move Search tab with multi-criteria filters and grouped results; test: add 29 tests for move search query and filters
  docs/plans/2026-02-11-advanced-move-search-design.md
  tests/unittests/test_move_search.py
  unbounddb/app/main.py
  unbounddb/app/move_search.py
  unbounddb/app/move_search_filters.py
  unbounddb/app/queries.py
Due: lint, format, mypy

feat: add move name filter to Move Search tab; test: add move name filter tests
  tests/unittests/test_move_search.py
  unbounddb/app/move_search.py
  unbounddb/app/move_search_filters.py
  unbounddb/app/queries.py
Due: lint, format, mypy

feat: persist user profiles via browser localStorage to survive Streamlit Cloud restarts; test: add 19 tests for browser storage helpers
  pyproject.toml
  tests/unittests/test_browser_storage.py
  unbounddb/app/browser_storage.py
  unbounddb/app/game_progress_persistence.py
  unbounddb/app/main.py
Due: lint, format, mypy, uv-lock

Path conditions:
  lint: any of: \.py$
  format: any of: \.py$
  mypy: any of: ^unbounddb/ and \.py$
  uv-lock: any of: ^pyproject\.toml$
